<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav-bar">
    <div class="container d-flex justify-content-start" id="logo-nom">
        <div>
            <img src="./logo/logo.jpg" alt="logo" id="logo" />
        </div>
        <div class="decalage-leger-droite">
            <a id="app-title" href="./page_accueil.html" >Find your cocktail</a>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-1" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Cocktail Recipes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" id="all-drinks" onclick="afficherDrinksDepuisHeaderFooter(this.id)">All cocktail recipes</a>
                    <a class="dropdown-item" id="Non alcoholic" onclick="afficherDrinksDepuisHeaderFooter(this.id)">Virgin Cocktails</a>
                    <a class="dropdown-item" id="Optional alcohol" onclick="afficherDrinksDepuisHeaderFooter(this.id)">Optional alcohol cocktails</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <a class="nav-link" id="navbarDropdownMenuLink-2" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" onclick="displayHeaderRandomDrink()">
                Find me a random cocktail !
            </a>
        </ul>
    </div>
</nav>